<div id="form_content" class="container-fluid">
    <div class="title">
        <h4>Login</h4>
    </div>
    <form id="login" autocomplete="off">
        <div class="form-group">
            <label for="email">Email</label>
            <input required type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input required type="password" class="form-control" name="password" placeholder="Senha">
        </div>
        <div class="form-group">
            <button class="form-control btn btn-primary mb-2" type="submit">Entrar</button>
            <button id="forgot" class="form-control btn btn-secondary mr-4" type="button">
                Esqueceu sua senha?
            </button>
        </div>
    </form>
</div>