<div id="form_content" class="container-fluid">
    <div class="title">
        <h4>Login</h4>
    </div>
    <div id="status" class="d-flex justify-content-center"></div>
    <form id="login" autocomplete="off">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" name="password" placeholder="Senha">
        </div>
        <div class="form-group d-flex justify-content-end">
            <button id="forgot" class="form-control btn btn-secondary mr-4" type="button">Esqueceu sua senha?</button>
            <button class="form-control btn btn-primary" type="submit">Entrar</button>
        </div>
    </form>
</div>