<div id="nav"></div>
<div id="form_content" class="container-fluid">
    <div class="title">
        <h4>Registro</h4>
    </div>
    <div id="status" class="d-flex justify-content-center"></div>
    <form id="register" autocomplete="off">
        <div class="row form-group">
            <div class="col-sm-12">
                <label for="name">Nome</label>
                <input type="text" class="form-control" name="name" placeholder="Nome">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label for="password">Senha</label>
                <input type="password" class="form-control" name="password" placeholder="Senha">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>