<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="./fav_icon.ico">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script defer src="/assets/js/jquery.min.js"></script>
    <script defer src="/assets/js/axios.min.js"></script>
    <script defer src="/assets/js/bootstrap.min.js"></script>
    <script defer src="/assets/js/socketio.min.js"></script>
    <script defer src="/assets/js/userSocket.js"></script>
    <script defer src="/assets/js/index.js"></script>
    <title>Chat Socket.io</title>
</head>

<body>
    <div class="area-messages">
        <div id="messages"></div>
    </div>
    <div class="form">
        <div class="form-group">
            <form id="send_message" autocomplete="off">
                <div class="row">
                    <div class="col-md-2 mb-2">
                        <input readonly class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="col-md-9">
                        <input required class="form-control" type="text" name="message" id="message"
                            placeholder="Digite sua mensagem">
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="form-control btn btn-success">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>