.area-messages {
    display: flex;
    justify-content: center;
    height: 500px;
}

#messages {
    word-wrap: break-word;
    width: 100%;
    height: 450px;
    border: solid 2px yellowgreen;
    padding: 10px;
    margin: 20px;
    overflow-y: scroll;
}

.form {
    padding: 0 30px;
}