@import url('./bootstrap.min.css');
/* INICIO CHAT CSS */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.area-messages {
    background-color: #15202b;
    display: flex;
    justify-content: center;
    height: 450px;
    border: solid 1px #3d5466;
    padding: 15px;
    margin: 10px 5px;
}

.message_content {
    display: block;
}

/* .mymessage_content {
    margin-right: 15px;
} */

#messages {
    word-wrap: break-word;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.profile_e {
    background-color: aqua;
}

.message {
    cursor: pointer !important;
    font-size: 15px;
    display: inline-block;
    background-color: #3d5466;
    color: #f5f6f7;
    border-radius: 20px 20px 20px 0;
    padding: 0 15px 0 15px;
    margin-top: 5px;
}

.mymessage {
    cursor: pointer !important;
    font-size: 15px;
    display: inline-block;
    background-color: #1da1f2;
    color: #f5f6f7;
    border-radius: 20px 20px 0 20px;
    padding: 0 15px 0 15px;
    margin: 5px 5px;
}

.hide {
    display: none !important;
}

.hour {
    color: rgb(196, 196, 196);
    font-size: 12px;
}

.user_name {
    display: none;
    padding: 13px;
}

.chat {
    width: 100%;
}

.contacts {
    display: none;
}

#name_short {
    color: rgb(196, 196, 196);
    font-size: 12px;
}

#myname_short {
    color: rgb(196, 196, 196);
    font-size: 12px;
}

.profile {
    display: flex;
    justify-content: start;
    color: white;
    margin-top: 6px;
    margin-right: 6px;
    padding-left: 20px;
    padding-top: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.myprofile {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 2px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message_send {
    padding: 14px;
    background-color: #253341;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 94%;
    height: 14px;
}

.send_button {
    background-color: #15202b;
    border: none;
    color: white;
    vertical-align: top;
    margin-bottom: 3px;
}

.send_button img {
    height: 20px;
    width: 20px;
    color: #19608e;
}

.send_button img:hover {
    /* border: solid 1px wheat; */
    transform: rotate(10deg);
}

.input_message {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.input_message input:focus {
    background-color: #15202b !important;
    color: white !important;
    border: solid 1px #1da1f2;
    outline: none;
}

.send_button:focus {
    outline: none !important;
}

.send_button:active {
    outline: none !important;
}

#logout {
    margin: 5px;
    display: flex;
    justify-content: flex-start;
}

.form {
    padding: 0 30px;
}

/* FIM CHAT CSS */

/* INICIO HOME CSS */

.img {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.img img {
    width: 320px;
}

.card {
    padding-top: 60px;
    text-align: center;
    height: 500px;
}

@media(max-width: 425px) {
    .img img {
        width: 250px;
    }
}

@media(max-width: 772px) {
    .area-messages {
        height: 450px;
    }
    #messages {
        height: 400px;
    }
    .message_send {
        margin-left: 13px;
        width: 92%;
    }
}

@media(max-width: 616px) {
    .message_send {
        margin-left: 13px;
        width: 88%;
    }
}

@media(max-width: 425px) {
    .message_send {
        margin-left: 13px;
        width: 86%;
    }
}

@media(max-width: 375px) {
    .message_send {
        margin-left: 13px;
        width: 83%;
        height: 14px;
    }
}

@media(max-width: 320px) {
    .message_send {
        margin-left: 12px;
        width: 80%;
        height: 14px;
    }
}

/* FIM HOME CSS */

/* INICIO REGISTER LOGIN CSS */

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#forgot {
    text-decoration: none;
}

/* FIM REGISTER LOGIN CSS */

/* INICIO FORGOT PASSWORD */

#load_token {
    margin-top: 10px;
}

/* FIM FORGOT PASSWORD */

/* BARRA DE ROLAGEM */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #1f2f40;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* BARRA DE ROLAGEM */